{#{% extends '@Admin/DashBoard/DashboadBlock.html.twig' %}#}

{% block dashboardBlock %}
    <div class="panel panel-table">
        <div class="panel-heading">
            <h3 class="panel-title">Документы в обработке <span class="badge bg-primary pull-right">{{ documents | length }}</span></h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped custom-table m-b-0">
                    <thead>
                    <tr>
                        <th>CID</th>
                        <th>DocumentID</th>
                        {#<th>Файлы</th>#}
                        <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for doc in documents %}
                        <tr>
                            <td>{{ doc.ClientID }}</td>
                            <td>{{ doc.Document['DocumentName'] | slice(0,60) }}</td>
                            {#<td>#}
                            {#{% for file in doc.files %}#}
                            {#<div>{{ file['Description'] }}</div>#}
                            {#{% endfor %}#}
                            {#</td>#}
                            <td>
                                <div class="status  processing">
                                    {{ doc.DocumentStatus }}
                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <a href="#" class="text-primary">Полный список</a>
        </div>
    </div>
{% endblock %}