{#https://dreamguys.co.in/smarthr/orange/index.html#}
<!DOCTYPE html>
<!--[if IEMobile 7]><html class="no-js ie iem7" lang="ru" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="ru" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="no-js ie lt-ie9 lt-ie8" lang="ru" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="no-js ie lt-ie9" lang="ru" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><html class="no-js ie" lang="ru" dir="ltr"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="ru" dir="ltr"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon-precomposed" href="https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/apple-touch-icon-precomposed-144x144.png" sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" href="https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/apple-touch-icon-precomposed-72x72.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/apple-touch-icon-precomposed-114x114.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/apple-touch-icon-precomposed.png" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="MobileOptimized" content="width" />
    <meta name="Generator" content="Drupal 7 (http://drupal.org)" />
    <link rel="shortcut icon" href="https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width" />
    <title>MandarinPay - простые решения в мире финансов</title>
    <style>
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/css/modules/system/system.base.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/css/modules/system/system.menus.theme.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/css/modules/system/system.messages.theme.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/css/modules/system/system.theme.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/date/date_api/date.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/date/date_popup/themes/datepicker.1.7.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/css/modules/comment/comment.theme.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/modules/node/node.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/views/css/views.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/css/modules/field/field.theme.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/css/modules/user/user.base.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/css/modules/user/user.theme.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/ckeditor/css/ckeditor.css?p74j5r");
    </style>
    <style>
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/jquery_update/replace/ui/themes/base/jquery.ui.core.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/jquery_update/replace/ui/themes/base/jquery.ui.theme.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/jquery_update/replace/ui/themes/base/jquery.ui.tooltip.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/ctools/css/ctools.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/libraries/jgrowl/jquery.jgrowl.min.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/panels/css/panels.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/_custom/mandarin2_blocks/css/style.css?p74j5r");
    </style>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" media="all" />
    <style>
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/HoldOn/HoldOn.min.css?p74j5r");
    </style>
    <style>
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/css/bootstrap.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/css/awesome-bootstrap-checkbox.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/css/datepicker.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/css/mandarin.normalize.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/css/mandarin.hacks.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/css/mandarin.styles.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/css/new.styles.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/css/fontello/css/fontello.css?p74j5r");
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/css/kir.css?p74j5r");
    </style>

    <!--[if lte IE 8]>
    <style>
        @import url("https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/mandarin/css/mandarin.no-query.css?p74j5r");
    </style>
    <![endif]-->
    <script src="https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/jquery_update/replace/jquery/1.10/jquery.js?v=1.10.2"></script>
    <script src="https://admin.mandarin.ct101.ruswebs.ru/misc/jquery.once.js?v=1.2"></script>
    <script src="https://admin.mandarin.ct101.ruswebs.ru/misc/drupal.js?p74j5r"></script>
    <script src="https://admin.mandarin.ct101.ruswebs.ru/sites/all/themes/omega/omega/js/no-js.js?p74j5r"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href={{ asset('assets/css/kir.css') }} rel="stylesheet">


</head>
<body class="html not-front not-logged-in page-user section-user">
<a href="#main-content" class="element-invisible element-focusable">Перейти к основному содержанию</a>
<!--<input id="party" name="party" type="text" size="100"/>-->
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@17.5.0/dist/css/suggestions.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<![endif]-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/suggestions-jquery@17.5.0/dist/js/jquery.suggestions.min.js"></script>
<script type="text/javascript" src="https://admin.mandarin.ct101.ruswebs.ru/sites/all/modules/_custom/mandarin2_user/js/jquery.maskedinput.js"></script>

<div class="new-login-wallet">
    <div class="background-image">
        <div class="header-login">
            <a href="//mandarinpay.com/"><div class="logo"></div></a>
            <div class="service">
            </div>
        </div>
        <div class="wrapper-form-login">

            {% if error %}
                <div class="alert alert-danger">
                    Неверный логин или пароль
                    {#{{ error.messageKey|trans(error.messageData, 'security') }}#}
                </div>
            {% endif %}

            {{ form_start(form) }}
                <div class="headform">Вход в личный кабинет</br>
                    <div style="padding-top:10px">для юридических лиц</div>
                </div>
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                {#<input type="submit" id="edit-submit" name="op" value="Войти" class="form-submit"/>#}
                <button type="submit">Войти</button>
                <div class="footformwrapper">

                    <div class="footform">
                        <div class="linkregister"><a href="/user/register">Нет аккаунта? Регистрация</a></div>
                        <div class="linkrestore"><a href="/user/password">Забыли пароль?</a></div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

</body>
</html>
